.navbar-light.bg-light {
	background-color: #fff !important;
}

.navbar-brand,
p,
.nav-link,
.btn {
	font-weight: bold;
}

.rounded-lg.form-control {
	border-radius: 2rem !important;
}

.btn,
.clickable {
	cursor: pointer;
}

.btn:hover,
.clickable:hover {
	transform: scale(1.1);
}

.btn,
.btn:hover,
.clickable,
.clickable:hover {
	transition: 0.3s transform ease;
}

.cursor-pointer {
	cursor: pointer;
}
